.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* 여기부터 수정하면 됩니다, 디자이너님♡ */

/* 공통 */

.head{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.headerLogo{
  margin-top: 5px;
  width: 20%;
  height: 10vh;
  margin-left: 5px;
}
.headLogoImg{
  width: 130%;
  height: 12vh;
  background-image: url("./img/s_Logo.jpeg");
  background-size: 68% 68%;
  background-color: white;
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}
.help{
  margin-top: 10px;
  margin-right: 50px;
  width: 6%;
  height: 12vh;
  display: inline;
}
.helpImg{
  width: 100%;
  height: 12vh;
  float: left;
  background-image: url("./img/help.png");
  background-size: 60% 60%;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: white;
  border: none;
  cursor: help;
}
.MainContent{
  width: 100%;
  height: 75vh;
  clear: both;
  text-align: center;
}
.footer{
  width: 100%;
  height: 10vh;
}
.kakaoImg{
  float: right;
  padding: 15px 5px;
  width: 3%;
}
.blogImg{
  float: right;
  padding: 15px 25px 15px 5px;
  width: 3%;
}


/* Login page */
.IDiconImg{
  width: 6.5%;
  margin: -2% 0;
}
.PWiconImg{
  width: 6.5%;
  margin: -2% 0;
}
.signUpButton{
  /* margin-top: 360px; */
  margin-top: 27%;
  width: 80px;
  height: 27px;
  cursor: pointer;
}
#JoinModal{
  justify-content: center;
}
.joinButton{
  margin: 5px 50px;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  border: solid 2px;
  font-size: medium;
  font-weight: bold;
  cursor: pointer;
}
#register{
  background-color: salmon;
}
#borrow{
  background-color: mediumaquamarine;
}
.joinText{
  float: left;
  font-size: small;
  padding: 2.5% 3%;
  margin: 5% 5%;
  /* padding: 10px 10px;
  margin: 10px 15px; */
  border: slategrey solid 1px;
  border-radius: 5%;
}
#joinButton{
  padding: 1%;
  margin-top: 3%;
  margin-bottom: -1%;
  cursor: pointer;
}


/* Join page */
.SignUpLogo{
  width: 30%;
  height: 30%;
  border-radius: 85%;
  margin-top: -10px;
  margin-bottom: 10px;
}
.signUpHead{
  margin-top: 4%;
}
.signUpBoxButton{
  display: inline-block;
  outline: none;
  border: none;
  border-radius: 3px;
  background-color: black;
  color: #d4f3f8;
  width: 5.5rem;
  height: 2.0rem;
  font-weight: bolder;
  cursor: pointer;
  padding: 0 1rem;
  text-align: center;
  margin: 1.4%;
}


/* Main page */
.searchDiv{
  float: left;
  margin: 20px 180px;
}
.searchTxt{
  font-family: 'Jalnan';
  font-size: 1rem;
  font-weight: bold;
}
.searchInput{
  height: 20px;
  margin: 5px;
  border: 1px solid;
}
.searchBtn{
  font-family: 'Jalnan';
  display: inline-block;
  outline: none;
  border: none;
  border-radius: 3px;
  background-color: black;
  color: #d4f3f8;
  width: 3.3rem;
  height: 1.7rem;
  font-size: 0.9em;
  cursor: pointer;
  text-align: center;
  margin: 2px;
  cursor: pointer;
}
.viewBtn{
  font-family: 'Jalnan';
  float: right;
  margin: 15px 5px;
  border: none;
  border-radius: 5px;
  width: 4.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  background-color: black;
  color: #d4f3f8;
}
.registerBtn{
  font-family: 'Jalnan';
  float: right;
  margin: 15px 5px;
  border: none;
  border-radius: 5px;
  width: 4.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  background-color: skyblue;
}
.deleteBtn{
  font-family: 'Jalnan';
  float: right; 
  margin: 15px 5px;
  border: none;
  border-radius: 5px;
  width: 4.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  font-weight: bold; 
  cursor: pointer;
  background-color: tomato;
}
.returnBtn{
  font-family: 'Jalnan';
  float: right;
  margin: 15px 5px;
  margin-right: 180px;
  border: none;
  border-radius: 5px;
  width: 4.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  background-color: bisque;
}
.lentBtn{
  font-family: 'Jalnan';
  float: right;
  margin: 15px 5px;
  margin-right: 180px;
  border: none;
  border-radius: 5px;
  width: 4.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  background-color: plum;
}

/* table */
.ag-theme-balham{
  clear: both;
  border: steelblue 2px solid;
  border-radius: 5px;
}
.RegisterInput{
  display: block;
}
.ReturnInput{
  display: block;
}
.UserDetail{
  display: block;
  resize: none;
}
.tableHeader{
  font-family: 'Jalnan';
  font-size: 1.0rem;
  background-color: powderblue;
}
.TxtFDiv{
  display: block;
  justify-content: center;
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}
.TxtF{
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}
.RegisterInput{
  padding-left: 1rem;
  height: 3rem;
  margin-top: 2rem;
  margin-left: 5rem;
  margin-right: 5rem;
}
.modalBtn{
  display: inline-block;
  outline: none;
  border: none;
  border-radius: 3px;
  background-color: black;
  color: #d4f3f8;
  width: 5.5rem;
  height: 2.0rem;
  font-weight: bolder;
  cursor: pointer;
  padding: 0 1rem;
  text-align: center;
  margin: 0.5rem;
}
.detailsCheckr{
  margin-top: 1.5rem;
  margin-bottom: 1.3rem;;
}
.detailsCheck{
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;;
}